#switcheroo-dialog {
	border: none;
	border-radius: 0.5rem;
	box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.5);
	padding: 0.5rem;
	width: 90%;
	animation: fade-out 0.5s ease-out;
}

#switcheroo-dialog[open] {
	animation: fade-in 0.5s ease-out;
}

#switcheroo-dialog::backdrop {
	background-color: #000;
	opacity: 0.75;
}

#switcheroo-dialog::backdrop {
	animation: backdrop-fade-in 0.5s ease-out forwards;
}

#switcheroo-dialog button {
	display: block;
	width: 100%;
	font-size: 2rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
	color: inherit !important;
}

#switcheroo-dialog button:not(:last-child) {
	margin-bottom: 0.5rem;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: scaleY(0);
		display: none;
	}
	100% {
		opacity: 1;
		transform: scaleY(1);
		display: block;
	}
}
@keyframes fade-out {
	0% {
		opacity: 1;
		transform: scaleY(1);
		display: block;
	}
	100% {
		opacity: 0;
		transform: scaleY(0);
		display: none;
	}
}
@keyframes backdrop-fade-in {
	0% {
		background-color: rgb(0 0 0 / 0%);
	}
	100% {
		background-color: rgb(0 0 0 / 25%);
	}
}
